.tasks {
  margin-top: 50px;

  &-block {
    counter-reset: my-counter 0;

    .section__title {
      margin-bottom: 20px;
    }

    &__item {
      position: relative;
      margin-bottom: 3vh;
      padding-left: 15vw;
    
      &::before {
        content: counter(my-counter);
        counter-increment: my-counter;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-family: "SFProDisplay-Black"; 
        font-size: 17vw;
        color: #F2F2F2;
      }
      
      &:nth-of-type(1) {
        .tasks-block__text {
          max-width: 44vw;
        }
      }
    }

    &__text {
      font-size: 3.44vw;
    }
  }
}

@media screen and (min-width: 992px) {
  .tasks {
    margin-top: 120px;
  
    &-block {
  
      .section__title {
        margin-bottom: 60px;
      }
  
      &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }

      &__item {
        margin-bottom: 0;
        padding-left: 110px;
        transition: all .3s ease-in-out;
      
        &::before {
          font-size: 150px;
        }

        &:hover::before {
          color: #C1D3E3;
        }
        
        &:nth-of-type(1) {
          .tasks-block__text {
            max-width: 260px;
          }
        }
        &:nth-of-type(2) {
          .tasks-block__text {
            max-width: 330px;
          }
        }
      }
  
      &__text {
        font-size: 17px;
        line-height: 25px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .tasks {
    &-block {

      &__item {
        padding-left: 150px;
      
        &::before {
          font-size: 200px;
        }
        
        &:nth-of-type(1) {
          .tasks-block__text {
            max-width: 260px;
          }
        }
        &:nth-of-type(2) {
          .tasks-block__text {
            max-width: 430px;
          }
        }
      }
  
      &__text {
        font-size: 22px;
        line-height: 36px;
      }
    }
  }
}