*,  :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "TTHoves-Regular", sans-serif;
  font-size: 16px;
  color: #333333;
  background: #FFFFFF;

  &.lock,
  main {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

$color-text: #333333;

.section {

  &__title {
  	font-family: "TTHoves-Light";
    font-weight: 400;
    font-size: 6vw;
    color: #BDBDBD;

    &-part {
	    font-family: "TTHoves-Bold";
      font-weight: 700;
      color: $color-text;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .section {

    &__title {
      font-size: 64px;
    }
  } 
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    max-width: 2000px;
  }
}